.hidden {
    width: 150px;
    height: 150px;
    position: absolute;
    display: grid;
    justify-content: center;
}

.hiddenimg {
    height: 150px;
}

.container {
    width: 98vw;
    height: 95vh;
    background-image: url('shin2.jpg');
    background-size: cover;
}